body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUz1wY2Mu7qhOECzgMZ5Gut7QwOlUYLfNmfw&usqp=CAU");
    background-repeat:no-repeat;
    background-size:cover;

}
.box{
    border:2px solid grey;
    border-radius: 50%;
    width:200px;
    height:200px;
    float:left;
    margin:20px
    
}
.b1{
    background-image:conic-gradient(red,yellow,green,blue)
}
.b2{
    background-image:conic-gradient(from 45deg,red ,green,yellow);
}
.b3{
    background-image:conic-gradient(red,blue,green,red);
}
.b4{
    background-image:conic-gradient(at 20%,red 90deg,yellow,green 180deg);
}
.b5{
    background-image:repeating-conic-gradient(red 0deg, red 20deg,yellow 20deg,yellow 30deg);
}
.b6{
    background-image:repeating-conic-gradient(rgba(0,0,0,0) 0deg,rgba(0,0,0,0) 20deg,rgba(0,0,0,.5) 20deg, rgba(0,0,0,.5) 30deg);
background-color:red;
}
.b7{
    background-image:repeating-conic-gradient(yellow 0deg,yellow 90deg,black 90deg,black 180deg);
background-size:20px 20px;
border-radius:0;
}
.b8{
    background-image:conic-gradient(red 0deg, red 90deg,blue 90deg,blue 180deg,green 180deg,green 270deg,yellow 270deg, yellow 360deg);
}