.box{
    width:240px;
    margin:50px auto;
    padding:20px;
    border:30px solid black;
    background-color:yellowgreen;
    border-image:linear-gradient(red,yellow,blue,green) 30 / 25px;

    /* border-image: url("./images/decorative-border_1048-11718.jpg") 50 / 42px /38.4px round; */

    /* border-image-slice:30;
    border-image-repeat:round;
    border-image-outset:42px;
    border-image-width:38.4px;
} */